<html>
<head>
  <title>Try This</title>
</head>
<body>
  <ul>
    <li><a href="<%= @links[:mobileconfig] %>">端末情報送信</a></li>
    <li><a href="itms-services://?action=download-manifest&url=<%= @links[:manifest]%>">アプリダウンロード</a></li>
  </ul>
</body>
</html>